{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border rounded">Create an Account</h3>
            <form action="/signup" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">First Name</label>
                    <input required type="text" name="firstname" id="" class="form-control form-control-sm" placeholder="" >
                </div>

                <div class="form-group">
                    <label for="">Last Name</label>
                    <input required type="text" name="lastname" id="" class="form-control form-control-sm" placeholder="" >
                </div>

                <div class="form-group">
                    <label for="">Phone Number</label>
                    <input required type="text" name="phone" id="" class="form-control form-control-sm" placeholder="" >
                </div>
                
                <div class="form-group">
                  <label for="">Email</label>
                  <input required type="email" name="email" id="" class="form-control form-control-sm" placeholder="" >
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input required type="password" name="password" id="" class="form-control form-control-sm" placeholder="" >
                </div>

                <center>
                    <div class="form-group">
                        <input required class="btn-btn-sm btn-info" type="submit" name="submit" id="" class="form-control form-control-sm">
                    </div>
                    {% if msg %}
                    <p style="color:rgb(248, 7, 176)">{{msg}}</p>
                    {% endif %}
                </center>
            </form>
        </div>
    </div> 
</div>
{% endblock %}